{
  "extends": "standard",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "no-unused-vars": "warn",
    "quotes": ["error", "single", { "avoidEscape": true, "allowTemplateLiterals": true }],
    "space-before-function-paren": ["error", {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }]
  }
}
